language: php
php:
  - 5.6
  - 7.0
  - 7.1

before_script:
  - composer require --dev "laravel/laravel=5.4.x"
  - composer install --dev --prefer-source --no-interaction

script: vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)
