language: php
php:
  - 5.5.9
  - 5.6
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: 7.0

before_script:
  - composer install --dev --prefer-source --no-interaction

script: vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)
